.main {
  margin: 1.5rem 1rem;
  text-align: center;
  overflow: hidden;
  @keyframes welcome {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
      letter-spacing: 0.625rem;
      margin-bottom: -2.5rem;
    }
    50% {
      opacity: 0.5;
      letter-spacing: 0.9375rem;
      margin-bottom: -1.875rem;
    }
    75% {
      opacity: 0.75;
      letter-spacing: 0.625rem;
      margin-bottom: -1.25rem;
    }
    100% {
      opacity: 1;
      margin-bottom: 0.625rem;
    }
  }
  &__welcome {
    @include mobile-header;
    animation: welcome 1s;
    z-index: 2;
    letter-spacing: 0.3125rem;
    margin-bottom: 0.625rem;
  }
  &__name {
    @include mobile-subheader;
    color: $primary-blue;
    animation: display 1.2s;
    opacity: 1;
  }
  @keyframes display {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  &__section {
    margin: 1.25rem 0;
    &--headshot {
      height: 70vw;
      margin-top: 0.625rem;
    }
    &--div {
      margin-top: 1.25rem;
      .label {
        @include mobile-labels;
        margin-bottom: 0.625rem;
        text-align: justify;
      }
      .para {
        @include mobile-paragraph;
        font-family: OpenSansLight;
        text-align: justify;
      }
      .title {
        @include mobile-header;
        color: $dark-blue;
        margin: 1.25rem 0;
      }
      .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.25rem;
        &__a {
          margin: 1.25rem 0;
          &--img {
            height: 10vw;
          }
        }
      }
    }
  }
}

@include medium {
  .main {
    margin: 2rem 1.5rem;
    &__welcome {
      @include desk-tablet-header;
    }
    &__name {
      @include desk-tablet-subheader;
    }
    &__section {
      &--headshot {
        height: 40vw;
      }
      &--div {
        .label {
          @include desk-tablet-labels;
        }
        .para {
          @include desk-tablet-para-comment;
          font-family: OpenSansLight;
        }
        .title {
          @include desk-tablet-header;
        }
        .section {
          flex-direction: row;
          justify-content: center;
          &__a {
            margin: 0 1.25rem;
            &--img {
              height: 5vw;
            }
          }
        }
      }
    }
  }
}

@include huge {
  .main {
    margin: 2.5rem 11.25rem;
    &__section {
      display: flex;
      justify-content: space-evenly;
      margin-top: 6.25rem;
      &--div {
        width: 50%;
        .title {
          margin-top: 6.25rem;
        }
      }
    }
  }
}
