@font-face {
  font-family: "OpenSansRegular";
  src: url("../assets/fonts/OpenSansRegular.ttf");
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../assets/fonts/OpenSansBold.ttf");
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../assets/fonts/OpenSansSemiBold.ttf");
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../assets/fonts/OpenSansLight.ttf");
}

@font-face {
  font-family: "OpenSansCondensedLight";
  src: url("../assets/fonts/OpenSansCondensedLight.ttf");
}

@font-face {
  font-family: "OpenSansCondensedBold";
  src: url("../assets/fonts/OpenSansCondensedBold.ttf");
}
@font-face {
  font-family: "OpenSansCondensedLightItalic";
  src: url("../assets/fonts/OpenSansCondensedLightItalic.ttf");
}

@mixin mobile-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
}

@mixin mobile-subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
}

@mixin mobile-paragraph {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: OpenSansRegular;
}

@mixin mobile-labels {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
}

@mixin desk-tablet-hero {
  font-size: 3.75rem;
  line-height: 4.25rem;
  font-family: OpenSansBold;
}

@mixin desk-tablet-header {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-family: OpenSansBold;
}

@mixin desk-tablet-header-smaller {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
}

@mixin desk-tablet-subheader {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: OpenSansSemiBold;
}

@mixin desk-tablet-para-comment {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansRegular;
}

@mixin desk-tablet-lists-contact {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: OpenSansRegular;
}

@mixin desk-tablet-labels {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
}
