.footer {
  padding: 0 16px;
  height: 80px;
  &__link {
    text-decoration: none;
    &--title {
      @include mobile-header;
      color: $grey;
      &:hover {
        color: $primary-blue;
        transition: color 0.5s ease-in-out;
      }
    }
  }
  &__nav {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    &--link {
      text-decoration: none;
      @include mobile-labels;
      color: $grey;
      &:hover {
        color: $primary-blue;
        transition: color 0.5s ease-in-out;
      }
    }
  }
}

@include medium {
  .footer {
    padding: 0 24px;
    height: 100px;
    &__link {
      &--title {
        @include desk-tablet-header;
        margin-top: 32px;
        margin-bottom: 20px;
      }
    }
    &__nav {
      justify-content: flex-end;
      &--link {
        margin-left: 40px;
        @include desk-tablet-labels;
      }
    }
  }
}

@include huge {
  .footer {
    margin: unset;
    padding: unset;
  }
}
