.footer {
  padding: 1rem 1rem;
  border-top: 0.0625rem solid $grey;
  background-color: $light-grey;
  &__link {
    text-decoration: none;
    &--title {
      @include mobile-header;
      color: $grey;
      &:hover {
        color: $primary-blue;
        transition: color 0.5s ease-in-out;
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: space-evenly;
    &--link {
      text-decoration: none;
      @include mobile-labels;
      color: $grey;
      &:hover {
        color: $primary-blue;
      }
    }
  }
}

@include medium {
  .footer {
    padding: 0 1.5rem 1.5rem;
    height: 7.5rem;
    &__link {
      &--title {
        @include desk-tablet-header;
        margin-top: 2rem;
      }
    }
    &__nav {
      justify-content: flex-end;
      &--link {
        margin-left: 2.5rem;
        @include desk-tablet-labels;
      }
    }
  }
}

@include huge {
  .footer {
    margin: unset;
    padding: 0 11.25rem 1.5rem;
  }
}
