.header {
  padding: 0 16px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey;
  background-color: $light-grey;
  &__link {
    text-decoration: none;
    &--title {
      @include mobile-header;
      color: $grey;
      &:hover {
        color: $primary-blue;
        transition: color 0.5s ease-in-out;
      }
    }
  }
  &__nav {
    &--desk {
      display: none;
    }
    &--mobile-tablet {
      .svg {
        fill: $grey;
        position: relative;
        &:hover {
          fill: $primary-blue;
          cursor: pointer;
          transition: fill 0.5s ease-in-out;
        }
      }
    }
  }
}

@include medium {
  .header {
    padding: 0 24px;
    height: 100px;
    &__title {
      @include desk-tablet-header;
    }
    &__nav {
      &--mobile-tablet {
        @include desk-tablet-subheader;
      }
    }
  }
}

@include huge {
  .header {
    padding: 0 180px;
    &__nav {
      display: flex;
      &--desk {
        display: unset;
        margin-right: 10px;
        text-decoration: none;
        @include desk-tablet-subheader;
        color: $grey;
        &:hover {
          color: $primary-blue;
          transition: fill 0.5s ease-in-out;
        }
      }
      &--mobile-tablet {
        display: none;
      }
    }
  }
}
