.hero {
  position: relative;
  &__image {
    height: 60vw;
    width: 100%;
    filter: brightness(85%);
  }
  &__text {
    @include mobile-header;
    font-family: OpenSansCondensedBold;
    position: absolute;
    top: 1.875rem;
    left: 1rem;
    width: 60vw;
    color: $white;
  }
}

@include medium {
  .hero {
    &__text {
      @include desk-tablet-header;
      font-family: OpenSansCondensedBold;
      top: 4rem;
      left: 1.5rem;
      width: 50vw;
    }
  }
}

@include huge {
  .hero {
    &__text {
      top: 11.25rem;
      left: 11.25rem;
    }
  }
}
