.landing-page {
  margin: 20px 16px;
  display: flex;
  flex-direction: column;
  &__header {
    @include mobile-subheader;
    font-family: OpenSansCondensedBold;
    color: #808080;
  }
  &__para {
    margin-top: 10px;
    font-family: OpenSansLight;
    font-style: italic;
  }
  &__button {
    margin-top: 20px;
    width: 160px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 4px;
    outline: none;
    align-self: center;
    &--text {
      @include mobile-subheader;
    }
  }
  &__iframe {
    margin-top: 20px;
    &--map {
      height: 60vw;
      width: 100%;
      overflow: hidden;
    }
  }
}
