.menu-slider {
  z-index: 999;
  position: absolute;
  right: 1.2rem;
  &__link {
    text-decoration: none;
    display: flex;
    background-color: $light-grey;
    outline: none;
    &:hover {
      background-color: $light-purple;
      border-color: $light-purple;
      cursor: pointer;
    }
    &--text {
      @include mobile-subheader;
      color: $primary-blue;
      align-self: center;
      border: 0.0625rem solid $grey;
      height: 2.5rem;
      width: 10rem;
      padding: 0.625rem;
      display: flex;
      justify-content: center;
      &:hover {
        color: $light-grey;
        cursor: pointer;
      }
    }
  }
}
