.news {
  margin: 1.5rem 1rem;
  &__title {
    @include mobile-header;
    font-family: OpenSansCondensedBold;
    color: $dark-blue;
  }
  &__section {
    &--div {
      margin: 1.25rem 0;
      background-color: $light-grey;
      border-radius: 0.25rem;
      padding: 0.625rem;
      .url {
        text-decoration: none;
        &__h5 {
          @include mobile-subheader;
          color: $primary-blue;
        }
        &__img {
          width: 100%;
          margin: 0.625rem 0;
        }
        &__description {
          @include mobile-labels;
          font-family: OpenSansLight;
          color: $grey;
        }
      }
    }
  }
}

@include medium {
  .news {
    margin: 2rem 1.5rem;
    &__title {
      @include desk-tablet-header-smaller;
      font-family: OpenSansCondensedBold;
    }
    &__section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1.875rem 0;
      &--div {
        height: 50vw;
        overflow-y: scroll;
        margin: 0.625rem 0.625rem;
        padding: 1.25rem;
        width: 40vw;
        .url {
          &__h5 {
            @include desk-tablet-subheader;
          }
          &__img {
            margin: 1.25rem 0;
          }
          &__description {
            @include desk-tablet-labels;
            font-family: OpenSansLight;
          }
        }
      }
    }
  }
}

@include huge {
  .news {
    margin: 2.5rem 11.25rem;
    &__title {
      @include desk-tablet-header;
      font-family: OpenSansCondensedBold;
    }
    &__section {
      &--div {
        width: 20vw;
        height: 30vw;
      }
    }
  }
}
