.test-scores {
  margin: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include mobile-header;
    font-family: OpenSansCondensedBold;
    color: $dark-blue;
    margin-bottom: 24px;
  }
  &__form {
    border: 1px solid $grey;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    &--div {
      .prompt {
        @include mobile-subheader;
        font-family: OpenSansLight;
        margin-top: 10px;
      }
      .select {
        margin-top: 10px;
        margin-bottom: 10px;
        outline: none;
        height: 30px;
        width: 100%;
        border: 1px solid $grey;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &--input {
      width: 160px;
      height: 40px;
      margin-bottom: 20px;
      padding-left: 10px;
      border-radius: 4px;
      outline: none;
      &:placeholder-shown {
        padding-left: 10px;
      }
    }
    &--button {
      width: 160px;
      height: 40px;
      border-radius: 4px;
      background-color: $light-purple;
      border: 1px solid $light-purple;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        transition: ease-in-out 0.5s;
        background-color: #0000a3;
        border-color: #0000a3;
        cursor: pointer;
      }
      .submit {
        @include mobile-subheader;
        color: $white;
      }
    }
  }
  &__uni {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--matches {
      @include mobile-header;
      color: $primary-blue;
      margin-bottom: 20px;
    }
    &--link {
      text-decoration: none;
      .li {
        list-style: none;
        @include mobile-subheader;
        color: $grey;
        margin-bottom: 5px;
      }
    }
    &--button {
      width: 160px;
      height: 40px;
      border-radius: 4px;
      margin-top: 20px;
      background-color: $light-purple;
      border: 1px solid $light-purple;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        transition: ease-in-out 0.5s;
        background-color: #0000a3;
        border-color: #0000a3;
        cursor: pointer;
      }
      .text {
        @include mobile-subheader;
        color: $white;
      }
    }
  }
  &__error {
    &--div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      .message {
        @include mobile-subheader;
        color: $grey;
      }
      .button {
        width: 160px;
        height: 40px;
        border-radius: 4px;
        background-color: $light-purple;
        border: 1px solid $light-purple;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        &:hover {
          transition: ease-in-out 0.5s;
          background-color: #0000a3;
          border-color: #0000a3;
          cursor: pointer;
        }
        .text {
          @include mobile-subheader;
          color: $white;
        }
      }
    }
  }
}

@include medium {
  .test-scores {
    margin: 32px 24px 0;
    &__title {
      align-self: flex-start;
      @include desk-tablet-header-smaller;
      font-family: OpenSansCondensedBold;
    }
    &__form {
      height: 30vw;
      flex-direction: row;
      justify-content: space-around;
      &--div {
        margin-right: 20px;
        .prompt {
          @include desk-tablet-subheader;
          font-family: OpenSansLight;
          margin-top: unset;
          margin-bottom: 10px;
        }
        .select {
          margin: unset;
          height: 30px;
        }
      }
      &--input {
        margin: unset;
        height: 3.125rem;
      }
      &--button {
        margin: unset;
        height: 3.125rem;
        .submit {
          @include desk-tablet-subheader;
        }
      }
    }
    &__uni {
      margin-top: 40px;
      &--matches {
        @include desk-tablet-header-smaller;
        margin-bottom: 30px;
      }
      &--link {
        .li {
          @include desk-tablet-subheader;
          margin-bottom: 10px;
        }
      }
      &--button {
        height: 3.125rem;
        .text {
          @include desk-tablet-subheader;
        }
      }
    }
    &__error {
      &--div {
        margin-top: 40px;
        .message {
          @include desk-tablet-subheader;
        }
        .button {
          height: 3.125rem;
          .text {
            @include desk-tablet-subheader;
          }
        }
      }
    }
  }
}

@include huge {
  .test-scores {
    margin: 40px 180px 0;
    &__title {
      @include desk-tablet-header;
      font-family: OpenSansCondensedBold;
    }
    &__form {
      width: 50vw;
      height: 20vw;
    }
    &__uni {
      &--matches {
        @include desk-tablet-header;
      }
      &--link {
        .li {
          @include desk-tablet-header-smaller;
          font-family: OpenSansSemiBold;
        }
      }
    }
    &__error {
      &--div {
        .message {
          @include desk-tablet-header-smaller;
        }
      }
    }
  }
}
