.test-scores {
  margin: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include mobile-header;
    font-family: OpenSansCondensedBold;
    color: $dark-blue;
    margin-bottom: 1.5rem;
  }
  &__form {
    border: 0.0625rem solid $grey;
    border-radius: 0.25rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    &--div {
      .prompt {
        @include mobile-subheader;
        font-family: OpenSansLight;
        margin-top: 0.625rem;
      }
      .select {
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
        outline: none;
        height: 1.875rem;
        width: 100%;
        border: 0.0625rem solid $grey;
        &:hover,
        &:focus {
          border: 0.0625rem solid $primary-blue;
          cursor: pointer;
        }
      }
    }
    &--input {
      width: 10rem;
      height: 2.5rem;
      margin-bottom: 1.25rem;
      padding-left: 0.625rem;
      border-radius: 0.25rem;
      outline: none;
      &:placeholder-shown {
        padding-left: 0.625rem;
      }
      &:focus,
      &:hover {
        border: 0.0625rem solid $primary-blue;
        cursor: pointer;
      }
    }
    &--button {
      width: 10rem;
      height: 2.5rem;
      border-radius: 0.25rem;
      background-color: $light-purple;
      border: 0.0625rem solid $light-purple;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        transition: ease-in-out 0.5s;
        background-color: $dark-blue;
        border-color: $dark-blue;
        cursor: pointer;
      }
      .submit {
        @include mobile-subheader;
        color: $white;
      }
    }
  }
  &__uni {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--matches {
      @include mobile-header;
      color: $primary-blue;
      text-align: center;
      margin-bottom: 1.25rem;
    }
    &--link {
      text-decoration: none;
      text-align: center;
      .li {
        list-style: none;
        @include mobile-subheader;
        color: $grey;
        margin-bottom: 0.3125rem;
      }
    }
    &--button {
      width: 10rem;
      height: 2.5rem;
      border-radius: 0.25rem;
      margin-top: 1.25rem;
      background-color: $light-purple;
      border: 0.0625rem solid $light-purple;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        transition: ease-in-out 0.5s;
        background-color: #0000a3;
        border-color: #0000a3;
        cursor: pointer;
      }
      .text {
        @include mobile-subheader;
        color: $white;
      }
    }
  }
  &__error {
    &--div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      .message {
        @include mobile-subheader;
        color: $grey;
      }
      .button {
        width: 10rem;
        height: 2.5rem;
        border-radius: 0.25rem;
        background-color: $light-purple;
        border: 0.0625rem solid $light-purple;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.25rem;
        &:hover {
          transition: ease-in-out 0.5s;
          background-color: #0000a3;
          border-color: #0000a3;
          cursor: pointer;
        }
        .text {
          @include mobile-subheader;
          color: $white;
        }
      }
    }
  }
}

@include medium {
  .test-scores {
    margin: 2rem 1.5rem;
    &__title {
      align-self: flex-start;
      @include desk-tablet-header-smaller;
      font-family: OpenSansCondensedBold;
    }
    &__form {
      height: 30vw;
      flex-direction: row;
      justify-content: space-around;
      &--div {
        margin-right: 1.25rem;
        .prompt {
          @include desk-tablet-subheader;
          font-family: OpenSansLight;
          margin-top: unset;
          margin-bottom: 0.625rem;
        }
        .select {
          margin: unset;
          height: 1.875rem;
        }
      }
      &--input {
        margin: unset;
      }
      &--button {
        margin: unset;
        .submit {
          @include desk-tablet-subheader;
        }
      }
    }
    &__uni {
      margin-top: 2.5rem;
      &--matches {
        @include desk-tablet-header-smaller;
        margin-bottom: 1.875rem;
      }
      &--link {
        .li {
          @include desk-tablet-subheader;
          margin-bottom: 0.625rem;
        }
      }
      &--button {
        .text {
          @include desk-tablet-subheader;
        }
      }
    }
    &__error {
      &--div {
        margin-top: 2.5rem;
        .message {
          @include desk-tablet-subheader;
        }
        .button {
          .text {
            @include desk-tablet-subheader;
          }
        }
      }
    }
  }
}

@include huge {
  .test-scores {
    margin: 2.5rem 11.25rem;
    &__title {
      @include desk-tablet-header;
      font-family: OpenSansCondensedBold;
    }
    &__form {
      width: 50vw;
      height: 20vw;
      &--input {
        height: 3.125rem;
      }
      &--button {
        height: 3.125rem;
      }
    }
    &__uni {
      &--matches {
        @include desk-tablet-header;
      }
      &--link {
        .li {
          @include desk-tablet-header-smaller;
          font-family: OpenSansSemiBold;
        }
      }
      &--button {
        height: 3.125rem;
      }
    }
    &__error {
      &--div {
        .button {
          height: 3.125rem;
        }
        .message {
          @include desk-tablet-header-smaller;
        }
      }
    }
  }
}
