.main-tuition {
  margin: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include mobile-header;
    font-family: OpenSansCondensedBold;
    color: $dark-blue;
    margin-bottom: 1.5rem;
  }
  &__form {
    border: 0.0625rem solid $grey;
    border-radius: 0.25rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    &--flex {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      .h5 {
        @include mobile-subheader;
        font-family: OpenSansLight;
      }
      .select {
        margin-top: 0.625rem;
        outline: none;
        border: 0.0625rem solid $grey;
        height: 1.875rem;
        width: 6.25rem;
        &:hover,
        &:focus {
          border: 0.0625rem solid $primary-blue;
          cursor: pointer;
        }
      }
    }
    &--submit {
      width: 10rem;
      height: 2.5rem;
      border-radius: 0.25rem;
      background-color: $light-purple;
      border: 0.0625rem solid $light-purple;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        transition: ease-in-out 0.5s;
        background-color: #0000a3;
        border-color: #0000a3;
        cursor: pointer;
      }
      .inner-text {
        @include mobile-subheader;
        color: $white;
      }
    }
  }
  &__uni {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--title {
      @include mobile-header;
      margin-bottom: 1.25rem;
      color: $primary-blue;
      text-align: center;
    }
    .link {
      text-decoration: none;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
      .li {
        list-style: none;
        @include mobile-subheader;
        color: $grey;
        margin-bottom: 0.3125rem;
      }
    }
    .button {
      width: 10rem;
      height: 2.5rem;
      border-radius: 0.25rem;
      background-color: $light-purple;
      border: 0.0625rem solid $light-purple;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.25rem;
      &:hover {
        transition: ease-in-out 0.5s;
        background-color: #0000a3;
        border-color: #0000a3;
        cursor: pointer;
      }
      &__inner-text {
        @include mobile-subheader;
        color: $white;
      }
    }
  }
  &__error {
    &--div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      .h3 {
        @include mobile-subheader;
        color: $grey;
        text-align: center;
      }
      .button {
        width: 10rem;
        height: 2.5rem;
        border-radius: 0.25rem;
        background-color: $light-purple;
        border: 0.0625rem solid $light-purple;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.25rem;
        &:hover {
          transition: ease-in-out 0.5s;
          background-color: #0000a3;
          border-color: #0000a3;
          cursor: pointer;
        }
        &__inner-text {
          @include mobile-subheader;
          color: $white;
        }
      }
    }
  }
}

@include medium {
  .main-tuition {
    margin: 2rem 1.5rem;
    &__title {
      align-self: flex-start;
      @include desk-tablet-header-smaller;
      font-family: OpenSansCondensedBold;
    }
    &__form {
      width: 60vw;
      &--flex {
        .h5 {
          @include desk-tablet-subheader;
          font-family: OpenSansLight;
        }
        .select {
          height: 1.875rem;
          width: 6.25rem;
        }
      }
      &--submit {
        margin: 2rem 0;
        .inner-text {
          @include desk-tablet-subheader;
        }
      }
    }
    &__uni {
      margin-top: 2.5rem;
      &--title {
        @include desk-tablet-header-smaller;
        margin-bottom: 1.875rem;
        .link {
          .li {
            @include desk-tablet-subheader;
            margin-bottom: 0.625rem;
          }
        }
      }
      .button {
        &__inner-text {
          @include desk-tablet-subheader;
        }
      }
    }
    &__error {
      &--div {
        margin-top: 2.5rem;
        .h3 {
          @include desk-tablet-subheader;
        }
        .button {
          &__inner-text {
            @include desk-tablet-subheader;
          }
        }
      }
    }
  }
}

@include huge {
  .main-tuition {
    margin: 2.5rem 11.25rem;
    &__title {
      @include desk-tablet-header;
      font-family: OpenSansCondensedBold;
    }
    &__form {
      width: 40vw;
      &--submit {
        height: 3.125rem;
      }
    }
    &__uni {
      &--title {
        @include desk-tablet-header;
      }
      .link {
        .li {
          @include desk-tablet-header-smaller;
          font-family: OpenSansSemiBold;
        }
      }
      .button {
        height: 3.125rem;
      }
    }
    &__error {
      margin: 0.3125rem 0 6.25rem;
      &--div {
        .h3 {
          @include desk-tablet-header-smaller;
        }
        .button {
          height: 3.125rem;
        }
      }
    }
  }
}
