.u-container {
  //   background-color: $light-blue;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  &__title {
    @include mobile-header;
    color: $primary-blue;
    text-align: center;
    margin-bottom: 24px;
  }
  &__button {
    align-self: center;
    height: 30px;
    border-radius: 4px;
    background-color: $light-purple;
    width: 160px;
    outline: none;
    border: 1px solid $light-purple;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      border: 1px solid $dark-blue;
      background-color: $dark-blue;
    }
    &--text {
      @include mobile-labels;
      color: white;
    }
  }
  &__subheader {
    margin: 24px 0 10px;
    @include mobile-subheader;
    color: $dark-blue;
  }
  &__hero {
    display: flex;
    flex-direction: column;
    &--img {
      align-self: center;
      .img {
        width: 100%;
        border-radius: 4px;
      }
    }
    &--div {
      //   height: 40vw;
      //   overflow-y: scroll;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 4px;
      background-color: $light-grey;
      padding: 20px;
      .sub {
        margin-top: 5px;
        @include mobile-subheader;
        // color: $grey;
      }
      .label {
        @include mobile-labels;
        font-family: OpenSansLight;
        // color: $grey;
      }
      .sub-light {
        @include mobile-subheader;
        font-family: OpenSansLight;
      }
      .a {
        .label {
          color: $primary-blue;
          @include mobile-labels;
          font-family: OpenSansLight;
        }
      }
    }
  }
  &__div {
    margin: 10px 0;
    &--iframe {
      width: 100%;
      height: 40vw;
      border: 1px solid $dark-blue;
      border-radius: 4px;
    }
  }
  &__section {
    &--holder {
      //   height: 40vw;
      //   overflow-y: scroll;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 4px;
      background-color: $light-grey;
      padding: 20px;
      .sub {
        margin-top: 5px;
        @include mobile-subheader;
        // color: $grey;
      }
      .label {
        @include mobile-labels;
        font-family: OpenSansLight;
        // color: $grey;
      }
      .mission {
        text-align: justify;
      }
      &-mobile {
        background-color: $light-blue;
      }
    }
  }
}

@include medium {
  .u-container {
    padding: 32px 24px;
    &__title {
      @include desk-tablet-header;
    }
    &__button {
      // some styles
      &--text {
        @include desk-tablet-labels;
      }
    }
    &__subheader {
      @include desk-tablet-subheader;
    }
    &__hero {
      flex-direction: row-reverse;
      justify-content: space-between;
      &--img {
        width: 45vw;
        // .img {
        // }
      }
      &--div {
        height: 30vw;
        align-self: center;
        width: 50%;
        // margin-top: unset;
        // margin-bottom: 24px;
        overflow-y: scroll;
        .sub {
          @include desk-tablet-subheader;
        }
        .label {
          @include desk-tablet-labels;
          font-family: OpenSansLight;
        }
        .sub-light {
          @include desk-tablet-subheader;
          font-family: OpenSansLight;
        }
        .a {
          .label {
            @include desk-tablet-labels;
            font-family: OpenSansLight;
          }
        }
      }
    }
    &__div {
      display: flex;
      justify-content: center;
      &--iframe {
        width: 75vw;
      }
    }
    &__section {
      &--holder {
        margin-top: 20px;
        padding: 30px;
        .sub {
          margin-top: 5px;
          @include desk-tablet-subheader;
          //   color: $dark-blue;
        }
        .label {
          @include desk-tablet-labels;
          font-family: OpenSansLight;
          // color: $grey;
        }
      }
    }
  }
}

@include huge {
  .u-container {
    padding: 40px 180px;
    &__button {
      height: 50px;
    }
    &__hero {
      justify-content: center;
      &--img {
        width: 30vw;
        margin-left: 20px;
      }
      &--div {
        height: 20vw;
        width: 30vw;
        margin-right: 20px;
      }
    }
    &__div {
      &--iframe {
        width: 63vw;
      }
    }
    &__section {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      &--holder {
        width: 28.5vw;
        height: 25vw;
        overflow-y: scroll;
        &-mobile {
          background-color: $light-grey;
        }
        &-desk {
          background-color: $light-blue;
        }
      }
    }
  }
}
