.u-container {
  margin: 24px 16px 0;
  display: flex;
  flex-direction: column;
  &__title {
    @include mobile-header;
    font-family: OpenSansCondensedBold;
    color: $primary-blue;
    align-self: center;
    text-align: center;
    margin-bottom: 32px;
  }
  &__button {
    height: 50px;
    width: 160px;
    align-self: center;
    border: 1px solid $light-purple;
    border-radius: 4px;
    outline: none;
    background-color: $light-purple;
    &:hover {
      cursor: pointer;
      animation: color-me-in 5s;
      @keyframes color-me-in {
        0% {
          background-color: $light-purple;
        }
        50% {
          background-color: $comp-yellow;
        }
        100% {
          background-color: $dark-blue;
        }
      }
    }
    &--text {
      @include mobile-subheader;
      color: $light-grey;
    }
  }
  &__subheader {
    @include mobile-subheader;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &__hero-holder {
    display: flex;
    flex-direction: column;
    &--img {
      align-self: center;
      height: 50vw;
      width: 90%;
    }
  }
  &__holder {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    &--left {
      .sub {
        @include mobile-subheader;
      }
      .label {
        @include mobile-labels;
        font-family: OpenSansLight;
        width: 35vw;
      }
    }
    &--right {
      .sub {
        @include mobile-subheader;
      }
      .label {
        @include mobile-labels;
        font-family: OpenSansLight;
      }
    }
  }
  &__holder2 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--sub {
      @include mobile-subheader;
    }
    &--sub-light {
      @include mobile-subheader;
      font-family: OpenSansLight;
    }
  }
  &__holder3 {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    &--div {
      .sub {
        @include mobile-subheader;
      }
      .label {
        @include mobile-labels;
        font-family: OpenSansLight;
      }
    }
  }
  &__holder4 {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    &--div {
      .sub {
        @extend .u-container__holder2--sub;
      }
      .label {
        @include mobile-labels;
        font-family: OpenSansLight;
        width: 40vw;
      }
    }
  }
  &__holder5 {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    &--flex {
      align-self: center;
      .sub {
        @include mobile-subheader;
      }
      .label {
        @include mobile-labels;
        font-family: OpenSansLight;
      }
    }
  }
  &__section {
    &--h5 {
      @include mobile-subheader;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    &--flex {
      display: flex;
      margin-top: 10px;
      .sub {
        @include mobile-subheader;
        align-self: center;
      }
      .flex2 {
        display: flex;
        justify-content: space-around;
        width: 80vw;
        &__div {
          &--sub {
            @include mobile-subheader;
          }
          &--label {
            @include mobile-labels;
            font-family: OpenSansLight;
          }
        }
      }
    }
  }
}
