.u-container {
  margin: 24px 16px;
  display: flex;
  flex-direction: column;
  &__title {
    @include mobile-header;
    font-family: OpenSansCondensedBold;
    color: $primary-blue;
    align-self: center;
    text-align: center;
    margin-bottom: 32px;
  }
  &__button {
    height: 50px;
    width: 160px;
    align-self: center;
    border: 1px solid $light-purple;
    border-radius: 4px;
    outline: none;
    background-color: $light-purple;
    &:hover {
      cursor: pointer;
      animation: color-me-in 5s;
      @keyframes color-me-in {
        0% {
          background-color: $light-purple;
          border-color: $light-purple;
        }
        50% {
          background-color: $comp-yellow;
          border-color: $comp-yellow;
        }
        100% {
          background-color: $dark-blue;
          border-color: $dark-blue;
        }
      }
    }
    &--text {
      @include mobile-subheader;
      color: $light-grey;
    }
  }
  &__subheader {
    @include mobile-subheader;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &__hero-holder {
    display: flex;
    flex-direction: column;
    &--img {
      align-self: center;
      height: 50vw;
      width: 90%;
    }
  }
  &__holder {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey;
    padding: 10px;
    &--flex {
      // margin-right: 10px;
      .sub {
        @include mobile-subheader;
      }
      .label {
        @include mobile-labels;
        font-family: OpenSansLight;
        width: 50%;
      }
    }
  }
  &__holder2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--sub {
      @include mobile-subheader;
    }
    &--sub-light {
      @include mobile-subheader;
      font-family: OpenSansLight;
    }
  }
  &__holder3 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey;
    padding: 10px;
    &--flex {
      margin-right: 10px;
      .sub {
        @include mobile-subheader;
      }
      .label {
        @include mobile-labels;
        font-family: OpenSansLight;
      }
    }
  }
  &__holder4 {
    display: flex;
    justify-content: center;
    &--flex {
      margin-right: 10px;
      .sub {
        @include mobile-subheader;
      }
      .label {
        @include mobile-labels;
        font-family: OpenSansLight;
      }
    }
  }
  &__iframe {
    height: 50vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__holder5 {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $grey;
    padding: 10px;
    &--flex {
      margin-right: 10px;
      .sub {
        @include mobile-subheader;
      }
      .label {
        @include mobile-labels;
        font-family: OpenSansLight;
      }
    }
  }
  &__section {
    display: flex;
    flex-direction: column;
    &--h5 {
      @include mobile-subheader;
    }
    &--flex {
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid $grey;
      padding: 10px;
      .label {
        @include mobile-labels;
      }
      .flex2 {
        display: flex;
        justify-content: space-evenly;
        &__div {
          margin-right: 10px;
          &--label {
            @include mobile-labels;
          }
          &--para {
            @include mobile-paragraph;
            font-family: OpenSansLight;
          }
        }
      }
    }
    &--scores {
      border-bottom: 1px solid $grey;
      padding: 10px;
      .label {
        @include mobile-labels;
      }
      .div {
        &__label {
          @include mobile-labels;
        }
        &__para {
          @include mobile-paragraph;
          font-family: OpenSansLight;
        }
      }
    }
    &--label {
      @include mobile-labels;
    }
    &--para {
      @include mobile-paragraph;
      font-family: OpenSansLight;
      padding: 10px;
    }
    &--div {
      display: flex;
      justify-content: space-evenly;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      padding: 10px;
      .label {
        @include mobile-labels;
      }
      .para {
        @include mobile-paragraph;
        font-family: OpenSansLight;
      }
    }
    &--column {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid $grey;
      padding: 10px;
      .label {
        @include mobile-subheader;
      }
      .inner-div {
        display: flex;
        justify-content: space-evenly;
        &__flex {
          margin-right: 10px;
          &--h6 {
            @include mobile-labels;
          }
          &--para {
            @include mobile-paragraph;
            font-family: OpenSansLight;
          }
        }
      }
    }
    &--tuition {
      display: flex;
      // flex-direction: column;
      // align-items: center;
      justify-content: space-evenly;
      border-bottom: 1px solid $grey;
      padding: 10px;
      .label {
        @include mobile-labels;
      }
      .div {
        display: flex;
        &__inner-div {
          margin-right: 10px;
          &--label {
            @include mobile-labels;
          }
          &--para {
            @include mobile-paragraph;
            font-family: OpenSansLight;
          }
        }
      }
    }
  }
  &__culture {
    &--h5 {
      @include mobile-subheader;
    }
    &--para {
      @include mobile-paragraph;
      font-family: OpenSansLight;
      text-align: justify;
    }
  }
}

@include medium {
  .u-container {
    margin: 32px 24px;
    align-items: center;
    &__title {
      @include desk-tablet-header-smaller;
      font-family: OpenSansCondensedBold;
    }
    &__subheader {
      @include desk-tablet-subheader;
      align-self: flex-start;
    }
    &__holder {
      width: 50vw;
      &--flex {
        margin: 5px 100px;
        width: 50%;
        .sub {
          @include desk-tablet-subheader;
        }
        .label {
          @include desk-tablet-labels;
          font-family: OpenSansLight;
        }
      }
    }
    &__holder2 {
      // width: 50vw;
      &--sub {
        @include desk-tablet-subheader;
      }
      &--sub-light {
        @include desk-tablet-subheader;
        font-family: OpenSansLight;
      }
    }
    &__holder3 {
      width: 50vw;
      &--flex {
        margin: 5px 100px;
        width: 50%;
        .sub {
          @include desk-tablet-subheader;
        }
        .label {
          @include desk-tablet-labels;
          font-family: OpenSansLight;
        }
      }
    }
    &__holder4 {
      width: 50vw;
      &--flex {
        width: 50%;
        margin: 5px 100px;
        .sub {
          @include desk-tablet-subheader;
        }
        .label {
          @include desk-tablet-labels;
          font-family: OpenSansLight;
        }
      }
    }
    &__iframe {
      margin: auto;
      width: 55vw;
      height: 30vw;
    }
    &__holder5 {
      width: 50vw;
      justify-content: center;
      &--flex {
        width: 50%;
        margin: 5px 100px;
        .sub {
          @include desk-tablet-subheader;
        }
        .label {
          @include desk-tablet-labels;
          font-family: OpenSansLight;
        }
      }
    }
    &__section {
      width: 50vw;
      &--h5 {
        @include desk-tablet-subheader;
      }
      &--flex {
        justify-content: center;
        .label {
          @include desk-tablet-labels;
          width: 20%;
          margin: 5px 100px;
        }
        .flex2 {
          width: 20%;
          margin: 5px 100px;
          flex-direction: column;
          &__div {
            &--label {
              @include desk-tablet-labels;
            }
            &--para {
              @include desk-tablet-para-comment;
              font-family: OpenSansLight;
            }
          }
        }
      }
      &--scores {
        display: flex;
        justify-content: center;
        .label {
          margin: 5px 100px;
          width: 20%;
          @include desk-tablet-labels;
        }
        .div {
          margin: 5px 100px;
          width: 20%;
          &__label {
            @include desk-tablet-labels;
          }
          &__para {
            @include desk-tablet-para-comment;
            font-family: OpenSansLight;
          }
        }
      }
      &--label {
        @include desk-tablet-labels;
        margin: auto;
        margin-top: 10px;
      }
      &--para {
        @include desk-tablet-para-comment;
        font-family: OpenSansLight;
        margin: auto;
      }
      &--div {
        // justify-content: center;
        // margin: 10px 0;
        .label {
          @include desk-tablet-labels;
        }
        .para {
          @include desk-tablet-para-comment;
          font-family: OpenSansLight;
        }
      }
      &--column {
        .label {
          @include desk-tablet-labels;
          margin-bottom: 10px;
        }
        .inner-div {
          // justify-content: center;
          &__flex {
            margin: 5px 50px;

            &--h6 {
              @include desk-tablet-labels;
            }
            &--para {
              @include desk-tablet-para-comment;
              font-family: OpenSansLight;
            }
          }
        }
      }
      &--tuition {
        justify-content: center;
        .label {
          width: 20%;
          margin: 5px 100px;
          @include desk-tablet-labels;
        }
        .div {
          width: 20%;
          margin: 5px 100px;
          flex-direction: column;
          &__inner-div {
            &--label {
              @include desk-tablet-labels;
            }
            &--para {
              @include desk-tablet-para-comment;
              font-family: OpenSansLight;
            }
          }
        }
      }
    }
    &__culture {
      width: 75vw;
      margin-top: 20px;
      &--h5 {
        @include desk-tablet-subheader;
      }
      &--para {
        @include desk-tablet-para-comment;
        font-family: OpenSansLight;
      }
    }
  }
}

@include huge {
  .u-container {
    margin: 40px 180px;
    &__title {
      @include desk-tablet-header;
      font-family: OpenSansCondensedBold;
    }
    &__hero-holder {
      &--img {
        height: 40vw;
      }
    }
    &__culture {
      width: 45vw;
    }
  }
}
