/* media query for tablet */
/* media query for high px density desktop */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../assets/fonts/OpenSansRegular.ttf");
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../assets/fonts/OpenSansBold.ttf");
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../assets/fonts/OpenSansSemiBold.ttf");
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../assets/fonts/OpenSansLight.ttf");
}

@font-face {
  font-family: "OpenSansCondensedLight";
  src: url("../assets/fonts/OpenSansCondensedLight.ttf");
}

@font-face {
  font-family: "OpenSansCondensedBold";
  src: url("../assets/fonts/OpenSansCondensedBold.ttf");
}

@font-face {
  font-family: "OpenSansCondensedLightItalic";
  src: url("../assets/fonts/OpenSansCondensedLightItalic.ttf");
}

.header {
  padding: 0 16px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}

.header__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #808080;
}

.header__nav--tablet-desk, .header__nav--tablet-desk-one {
  display: none;
}

.header__nav--mobile .svg {
  fill: #808080;
  position: relative;
}

.header__nav--mobile .svg:hover {
  fill: lightblue;
  cursor: pointer;
  -webkit-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0 24px;
    height: 100px;
  }
  .header__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .header__nav--tablet-desk, .header__nav--tablet-desk-one {
    display: unset;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .header__nav--tablet-desk-one {
    margin-right: 10px;
  }
  .header__nav--mobile {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 180px;
  }
}

.footer {
  padding: 0 16px;
  height: 80px;
}

.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #808080;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__nav--item {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  color: #808080;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 24px;
    height: 100px;
  }
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    margin-top: 32px;
    margin-bottom: 20px;
  }
  .footer__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__nav--item {
    margin-left: 40px;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    padding: 0 180px;
  }
  .footer__nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.hero {
  position: relative;
}

.hero__image {
  height: 60vw;
  width: 100vw;
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.hero__text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  font-family: OpenSansCondensedBold;
  position: absolute;
  top: 30px;
  left: 16px;
  width: 60vw;
  color: white;
}

@media only screen and (min-width: 768px) {
  .hero__text {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
    top: 64px;
    left: 24px;
    width: 50vw;
  }
}

@media only screen and (min-width: 1440px) {
  .hero__text {
    top: 180px;
    left: 180px;
  }
}

.landing-page {
  margin: 1.25rem 1rem;
}

.landing-page__header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansCondensedBold;
  color: #0000a3;
}

.landing-page__para {
  margin-top: 0.625rem;
  font-family: OpenSansLight;
  font-style: italic;
  color: #808080;
}

.landing-page__major--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
}

.landing-page__major--flex .button {
  text-decoration: none;
  margin: 1.25rem 0;
  width: 10rem;
  height: 2.5rem;
  border: 1px solid #663cff;
  border-color: #663cff;
  border-radius: 0.25rem;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #663cff;
}

.landing-page__major--flex .button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.landing-page__major--flex .button__text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.landing-page__major--flex .smaller {
  font-family: OpenSansSemiBold;
  color: #0000a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-page__major--flex-vid {
  margin: 1.25rem 0;
}

.landing-page__major--flex-vid .video {
  outline: none;
  height: 60vw;
  width: 100%;
}

.landing-page__holder--left .bold-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #0000a3;
}

.landing-page__holder--left .para {
  margin-top: 0.625rem;
  font-family: OpenSansLight;
  font-style: italic;
  color: #808080;
}

.landing-page__holder--right .img {
  border-radius: 0.25rem;
  margin: 1.25rem 0;
  height: 60vw;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .landing-page {
    margin: 2rem 1.5rem 0;
  }
  .landing-page__header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .landing-page__para {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
    margin-top: 1.25rem;
  }
  .landing-page__major--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 25vw;
    background-color: #f5f5f5;
    margin-top: 2rem;
  }
  .landing-page__major--flex .button {
    margin: 2rem 0;
    width: 12.5rem;
    height: 3.125rem;
  }
  .landing-page__major--flex .button__text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    color: #ffffff;
  }
  .landing-page__major--flex .smaller {
    font-family: OpenSansSemiBold;
    width: 40%;
  }
  .landing-page__major--flex-vid {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing-page__major--flex-vid .video {
    height: 50vw;
    width: 90%;
  }
  .landing-page__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing-page__holder--left {
    width: 40%;
    margin-right: 1.5625rem;
  }
  .landing-page__holder--left .bold-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .landing-page__holder--left .para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: OpenSansRegular;
    font-family: OpenSansLight;
  }
  .landing-page__holder--right {
    width: 50%;
    margin-left: 1.5625rem;
  }
  .landing-page__holder--right .img {
    height: unset;
  }
}

@media only screen and (min-width: 1440px) {
  .landing-page {
    margin: 2.5rem 11.25rem;
  }
  .landing-page__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .landing-page__para {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansLight;
  }
  .landing-page__major--flex .button {
    width: 16.25rem;
    height: 4.0625rem;
  }
  .landing-page__major--flex .button__text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansSemiBold;
  }
  .landing-page__major--flex .smaller {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
  }
  .landing-page__major--flex-vid {
    margin-bottom: 2.5rem;
  }
  .landing-page__holder {
    margin: 1.5rem 0;
  }
  .landing-page__holder--left {
    width: 50%;
  }
  .landing-page__holder--left .bold-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
    margin-bottom: 1.5rem;
  }
  .landing-page__holder--left .para {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansLight;
  }
}

.search {
  margin: 2rem 1rem 0;
}

.search__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  font-family: OpenSansCondensedBold;
  color: #0000a3;
  margin-bottom: 1.5rem;
}

.search__container--card {
  margin-bottom: 1.5rem;
  position: relative;
}

.search__container--card:hover {
  cursor: pointer;
}

.search__container--card .heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #0000d6;
  position: absolute;
  top: 5rem;
  left: 1.25rem;
}

.search__container--card .image {
  width: 100%;
  height: 70vw;
  border: 0.0625rem solid black;
  border-radius: 0.25rem;
}

@media only screen and (min-width: 768px) {
  .search {
    margin: 2.5rem 1.5rem 0;
    height: 100vh;
  }
  .search__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .search__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .search__container--card {
    width: 25vw;
    height: 20vw;
    margin-right: 1.25rem;
  }
  .search__container--card .heading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    top: 3.125rem;
  }
  .search__container--card .image {
    height: 20vw;
  }
}

@media only screen and (min-width: 1440px) {
  .search {
    margin: 2.8125rem 11.25rem 0;
    height: 100vh;
  }
  .search__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
    margin-bottom: 3.125rem;
  }
  .search__container--card {
    width: 20vw;
  }
  .search__container--card .image {
    height: 15vw;
  }
}

.locations__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
}

.u-container__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
}

.u-container__button {
  height: 100px;
  width: 100px;
}

.u-container__button--text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
}

.u-container__subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
}

.u-container__hero-holder--img {
  height: 60vw;
  width: 100%;
}

.menu-slider {
  z-index: 999;
  position: absolute;
  right: 16px;
}

.menu-slider__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-slider__link--text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid black;
  height: 40px;
  width: 160px;
}

.main-tuition {
  margin: 24px 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-tuition__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  font-family: OpenSansCondensedBold;
  color: #0000a3;
  margin-bottom: 24px;
}

.main-tuition__form {
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
}

.main-tuition__form--flex {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-tuition__form--flex .h5 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
}

.main-tuition__form--flex .select {
  margin-top: 10px;
  outline: none;
}

.main-tuition__form--flex .select:hover {
  cursor: pointer;
}

.main-tuition__form--submit {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  background-color: #663cff;
  border: 1px solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-tuition__form--submit:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.main-tuition__form--submit .inner-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.main-tuition__uni {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-tuition__uni--title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  margin-bottom: 20px;
  color: #0000d6;
}

.main-tuition__uni .link {
  text-decoration: none;
}

.main-tuition__uni .link:hover {
  cursor: pointer;
}

.main-tuition__uni .link .li {
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #808080;
  margin-bottom: 5px;
}

.main-tuition__uni .button {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  background-color: #663cff;
  border: 1px solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.main-tuition__uni .button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.main-tuition__uni .button__inner-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.main-tuition__error--div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

.main-tuition__error--div .h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #808080;
}

.main-tuition__error--div .button {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  background-color: #663cff;
  border: 1px solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.main-tuition__error--div .button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.main-tuition__error--div .button__inner-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .main-tuition {
    margin: 32px 24px 0;
  }
  .main-tuition__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .main-tuition__form {
    width: 60vw;
  }
  .main-tuition__form--flex .h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
  .main-tuition__form--submit {
    margin: 2rem 0;
    width: 12.5rem;
    height: 3.125rem;
  }
  .main-tuition__form--submit .inner-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .main-tuition__uni {
    margin-top: 40px;
  }
  .main-tuition__uni--title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    margin-bottom: 30px;
  }
  .main-tuition__uni--title .link .li {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    margin-bottom: 10px;
  }
  .main-tuition__uni .button {
    width: 12.5rem;
    height: 3.125rem;
  }
  .main-tuition__uni .button__inner-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .main-tuition__error--div {
    margin-top: 40px;
  }
  .main-tuition__error--div .h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .main-tuition__error--div .button {
    width: 12.5rem;
    height: 3.125rem;
  }
  .main-tuition__error--div .button__inner-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
}

@media only screen and (min-width: 1440px) {
  .main-tuition {
    margin: 40px 180px 0;
  }
  .main-tuition__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .main-tuition__form {
    width: 40vw;
  }
  .main-tuition__form--submit {
    width: 16.25rem;
    height: 4.0625rem;
  }
  .main-tuition__uni--title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .main-tuition__uni .link .li {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansSemiBold;
  }
  .main-tuition__uni .button {
    width: 16.25rem;
    height: 4.0625rem;
  }
  .main-tuition__error--div .h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
  }
  .main-tuition__error--div .button {
    width: 16.25rem;
    height: 4.0625rem;
  }
}

*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */