@import "./partials/breakpoints";
@import "./partials/fonts";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/hero";
@import "./partials/landingPage";
@import "./partials/search-now";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
