@import "./partials/breakpoints";
@import "./partials/fonts";
@import "./partials/colors";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/hero";
@import "./partials/landing-page";
@import "./partials/search-now";
@import "./partials/locations";
@import "./partials/university-page";
@import "./partials/menu-slider";
@import "./partials/tuition";
@import "./partials/test-scores";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
