/* media query for tablet */
/* media query for high px density desktop */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../assets/fonts/OpenSansRegular.ttf");
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../assets/fonts/OpenSansBold.ttf");
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../assets/fonts/OpenSansSemiBold.ttf");
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../assets/fonts/OpenSansLight.ttf");
}

@font-face {
  font-family: "OpenSansCondensedLight";
  src: url("../assets/fonts/OpenSansCondensedLight.ttf");
}

@font-face {
  font-family: "OpenSansCondensedBold";
  src: url("../assets/fonts/OpenSansCondensedBold.ttf");
}

@font-face {
  font-family: "OpenSansCondensedLightItalic";
  src: url("../assets/fonts/OpenSansCondensedLightItalic.ttf");
}

.header {
  padding: 0 16px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #808080;
  background-color: #f5f5f5;
}

.header__link {
  text-decoration: none;
}

.header__link--title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #808080;
}

.header__link--title:hover {
  color: #0000d6;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.header__nav--desk {
  display: none;
}

.header__nav--mobile-tablet .svg {
  fill: #808080;
  position: relative;
}

.header__nav--mobile-tablet .svg:hover {
  fill: #0000d6;
  cursor: pointer;
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0 24px;
    height: 100px;
  }
  .header__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .header__nav--mobile-tablet {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 180px;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav--desk {
    display: unset;
    margin-right: 10px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    color: #808080;
  }
  .header__nav--desk:hover {
    color: #0000d6;
    -webkit-transition: fill 0.5s ease-in-out;
    transition: fill 0.5s ease-in-out;
  }
  .header__nav--mobile-tablet {
    display: none;
  }
}

.footer {
  padding: 0 16px;
  height: 80px;
}

.footer__link {
  text-decoration: none;
}

.footer__link--title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #808080;
}

.footer__link--title:hover {
  color: #0000d6;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.footer__nav {
  margin-top: 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__nav--link {
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  color: #808080;
}

.footer__nav--link:hover {
  color: #0000d6;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 24px;
    height: 100px;
  }
  .footer__link--title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    margin-top: 32px;
    margin-bottom: 20px;
  }
  .footer__nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer__nav--link {
    margin-left: 40px;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    margin: unset;
    padding: unset;
  }
}

.hero {
  position: relative;
}

.hero__image {
  height: 60vw;
  width: 100%;
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.hero__text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  font-family: OpenSansCondensedBold;
  position: absolute;
  top: 30px;
  left: 16px;
  width: 60vw;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .hero__text {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
    top: 64px;
    left: 24px;
    width: 50vw;
  }
}

@media only screen and (min-width: 1440px) {
  .hero__text {
    top: 180px;
    left: 180px;
  }
}

.landing-page {
  margin: 1.25rem 1rem;
}

.landing-page__header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansCondensedBold;
  color: #0000a3;
}

.landing-page__para {
  margin-top: 0.625rem;
  font-family: OpenSansLight;
  font-style: italic;
  color: #808080;
}

.landing-page__major--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
}

.landing-page__major--flex .button {
  text-decoration: none;
  margin: 1.25rem 0;
  width: 10rem;
  height: 2.5rem;
  border: 1px solid #663cff;
  border-color: #663cff;
  border-radius: 0.25rem;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #663cff;
}

.landing-page__major--flex .button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.landing-page__major--flex .button__text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.landing-page__major--flex .smaller {
  font-family: OpenSansSemiBold;
  color: #0000a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-page__major--flex-vid {
  margin: 1.25rem 0;
}

.landing-page__major--flex-vid .video {
  outline: none;
  height: 60vw;
  width: 100%;
}

.landing-page__holder--left .bold-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #0000a3;
}

.landing-page__holder--left .para {
  margin-top: 0.625rem;
  font-family: OpenSansLight;
  font-style: italic;
  color: #808080;
}

.landing-page__holder--right .img {
  border-radius: 0.25rem;
  margin: 1.25rem 0;
  height: 60vw;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .landing-page {
    margin: 2rem 1.5rem 0;
  }
  .landing-page__header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .landing-page__para {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
    margin-top: 1.25rem;
  }
  .landing-page__major--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 25vw;
    background-color: #f5f5f5;
    margin-top: 2rem;
  }
  .landing-page__major--flex .button {
    margin: 2rem 0;
    width: 12.5rem;
    height: 3.125rem;
  }
  .landing-page__major--flex .button__text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    color: #ffffff;
  }
  .landing-page__major--flex .smaller {
    font-family: OpenSansSemiBold;
    width: 40%;
  }
  .landing-page__major--flex-vid {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing-page__major--flex-vid .video {
    height: 50vw;
    width: 90%;
  }
  .landing-page__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing-page__holder--left {
    width: 40%;
    margin-right: 1.5625rem;
  }
  .landing-page__holder--left .bold-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .landing-page__holder--left .para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: OpenSansRegular;
    font-family: OpenSansLight;
  }
  .landing-page__holder--right {
    width: 50%;
    margin-left: 1.5625rem;
  }
  .landing-page__holder--right .img {
    height: unset;
  }
}

@media only screen and (min-width: 1440px) {
  .landing-page {
    margin: 2.5rem 11.25rem;
  }
  .landing-page__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .landing-page__para {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansLight;
  }
  .landing-page__major--flex .button {
    width: 16.25rem;
    height: 4.0625rem;
  }
  .landing-page__major--flex .button__text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansSemiBold;
  }
  .landing-page__major--flex .smaller {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
  }
  .landing-page__major--flex-vid {
    margin-bottom: 2.5rem;
  }
  .landing-page__holder {
    margin: 1.5rem 0;
  }
  .landing-page__holder--left {
    width: 50%;
  }
  .landing-page__holder--left .bold-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
    margin-bottom: 1.5rem;
  }
  .landing-page__holder--left .para {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansLight;
  }
}

.search {
  margin: 2rem 1rem 0;
}

.search__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  font-family: OpenSansCondensedBold;
  color: #0000a3;
  margin-bottom: 1.5rem;
}

.search__container--card {
  margin-bottom: 1.5rem;
  position: relative;
}

.search__container--card:hover {
  cursor: pointer;
}

.search__container--card .heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #0000d6;
  position: absolute;
  top: 5rem;
  left: 1.25rem;
}

.search__container--card .image {
  width: 100%;
  height: 70vw;
  border: 0.0625rem solid black;
  border-radius: 0.25rem;
}

@media only screen and (min-width: 768px) {
  .search {
    margin: 2.5rem 1.5rem 0;
    height: 100vh;
  }
  .search__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .search__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .search__container--card {
    width: 25vw;
    height: 20vw;
    margin-right: 1.25rem;
  }
  .search__container--card .heading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    top: 3.125rem;
  }
  .search__container--card .image {
    height: 20vw;
  }
}

@media only screen and (min-width: 1440px) {
  .search {
    margin: 2.8125rem 11.25rem 0;
    height: 100vh;
  }
  .search__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
    margin-bottom: 3.125rem;
  }
  .search__container--card {
    width: 20vw;
  }
  .search__container--card .image {
    height: 15vw;
  }
}

.locations__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
}

.u-container {
  margin: 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.u-container__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  font-family: OpenSansCondensedBold;
  color: #0000d6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-bottom: 32px;
}

.u-container__button {
  height: 50px;
  width: 160px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid #663cff;
  border-radius: 4px;
  outline: none;
  background-color: #663cff;
}

.u-container__button:hover {
  cursor: pointer;
  -webkit-animation: color-me-in 5s;
          animation: color-me-in 5s;
}

@-webkit-keyframes color-me-in {
  0% {
    background-color: #663cff;
    border-color: #663cff;
  }
  50% {
    background-color: #d6d600;
    border-color: #d6d600;
  }
  100% {
    background-color: #0000a3;
    border-color: #0000a3;
  }
}

@keyframes color-me-in {
  0% {
    background-color: #663cff;
    border-color: #663cff;
  }
  50% {
    background-color: #d6d600;
    border-color: #d6d600;
  }
  100% {
    background-color: #0000a3;
    border-color: #0000a3;
  }
}

.u-container__button--text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #f5f5f5;
}

.u-container__subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.u-container__hero-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.u-container__hero-holder--img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50vw;
  width: 90%;
}

.u-container__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #808080;
  padding: 10px;
}

.u-container__holder--flex .sub {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
}

.u-container__holder--flex .label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
  width: 50%;
}

.u-container__holder2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-container__holder2--sub {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
}

.u-container__holder2--sub-light {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
}

.u-container__holder3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #808080;
  padding: 10px;
}

.u-container__holder3--flex {
  margin-right: 10px;
}

.u-container__holder3--flex .sub {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
}

.u-container__holder3--flex .label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
}

.u-container__holder4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.u-container__holder4--flex {
  margin-right: 10px;
}

.u-container__holder4--flex .sub {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
}

.u-container__holder4--flex .label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
}

.u-container__iframe {
  height: 50vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-container__holder5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #808080;
  padding: 10px;
}

.u-container__holder5--flex {
  margin-right: 10px;
}

.u-container__holder5--flex .sub {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
}

.u-container__holder5--flex .label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
}

.u-container__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.u-container__section--h5 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
}

.u-container__section--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid #808080;
  padding: 10px;
}

.u-container__section--flex .label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
}

.u-container__section--flex .flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.u-container__section--flex .flex2__div {
  margin-right: 10px;
}

.u-container__section--flex .flex2__div--label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
}

.u-container__section--flex .flex2__div--para {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: OpenSansRegular;
  font-family: OpenSansLight;
}

.u-container__section--scores {
  border-bottom: 1px solid #808080;
  padding: 10px;
}

.u-container__section--scores .label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
}

.u-container__section--scores .div__label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
}

.u-container__section--scores .div__para {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: OpenSansRegular;
  font-family: OpenSansLight;
}

.u-container__section--label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
}

.u-container__section--para {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: OpenSansRegular;
  font-family: OpenSansLight;
  padding: 10px;
}

.u-container__section--div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  padding: 10px;
}

.u-container__section--div .label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
}

.u-container__section--div .para {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: OpenSansRegular;
  font-family: OpenSansLight;
}

.u-container__section--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #808080;
  padding: 10px;
}

.u-container__section--column .label {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
}

.u-container__section--column .inner-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.u-container__section--column .inner-div__flex {
  margin-right: 10px;
}

.u-container__section--column .inner-div__flex--h6 {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
}

.u-container__section--column .inner-div__flex--para {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: OpenSansRegular;
  font-family: OpenSansLight;
}

.u-container__section--tuition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid #808080;
  padding: 10px;
}

.u-container__section--tuition .label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
}

.u-container__section--tuition .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-container__section--tuition .div__inner-div {
  margin-right: 10px;
}

.u-container__section--tuition .div__inner-div--label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
}

.u-container__section--tuition .div__inner-div--para {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: OpenSansRegular;
  font-family: OpenSansLight;
}

.u-container__culture--h5 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
}

.u-container__culture--para {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: OpenSansRegular;
  font-family: OpenSansLight;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .u-container {
    margin: 32px 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .u-container__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .u-container__subheader {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .u-container__holder {
    width: 50vw;
  }
  .u-container__holder--flex {
    margin: 5px 100px;
    width: 50%;
  }
  .u-container__holder--flex .sub {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__holder--flex .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
  .u-container__holder2--sub {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__holder2--sub-light {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
  .u-container__holder3 {
    width: 50vw;
  }
  .u-container__holder3--flex {
    margin: 5px 100px;
    width: 50%;
  }
  .u-container__holder3--flex .sub {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__holder3--flex .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
  .u-container__holder4 {
    width: 50vw;
  }
  .u-container__holder4--flex {
    width: 50%;
    margin: 5px 100px;
  }
  .u-container__holder4--flex .sub {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__holder4--flex .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
  .u-container__iframe {
    margin: auto;
    width: 55vw;
    height: 30vw;
  }
  .u-container__holder5 {
    width: 50vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .u-container__holder5--flex {
    width: 50%;
    margin: 5px 100px;
  }
  .u-container__holder5--flex .sub {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__holder5--flex .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
  .u-container__section {
    width: 50vw;
  }
  .u-container__section--h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__section--flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .u-container__section--flex .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
    width: 20%;
    margin: 5px 100px;
  }
  .u-container__section--flex .flex2 {
    width: 20%;
    margin: 5px 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .u-container__section--flex .flex2__div--label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__section--flex .flex2__div--para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: OpenSansRegular;
    font-family: OpenSansLight;
  }
  .u-container__section--scores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .u-container__section--scores .label {
    margin: 5px 100px;
    width: 20%;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__section--scores .div {
    margin: 5px 100px;
    width: 20%;
  }
  .u-container__section--scores .div__label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__section--scores .div__para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: OpenSansRegular;
    font-family: OpenSansLight;
  }
  .u-container__section--label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
    margin: auto;
    margin-top: 10px;
  }
  .u-container__section--para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: OpenSansRegular;
    font-family: OpenSansLight;
    margin: auto;
  }
  .u-container__section--div .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__section--div .para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: OpenSansRegular;
    font-family: OpenSansLight;
  }
  .u-container__section--column .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
    margin-bottom: 10px;
  }
  .u-container__section--column .inner-div__flex {
    margin: 5px 50px;
  }
  .u-container__section--column .inner-div__flex--h6 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__section--column .inner-div__flex--para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: OpenSansRegular;
    font-family: OpenSansLight;
  }
  .u-container__section--tuition {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .u-container__section--tuition .label {
    width: 20%;
    margin: 5px 100px;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__section--tuition .div {
    width: 20%;
    margin: 5px 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .u-container__section--tuition .div__inner-div--label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__section--tuition .div__inner-div--para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: OpenSansRegular;
    font-family: OpenSansLight;
  }
  .u-container__culture {
    width: 75vw;
    margin-top: 20px;
  }
  .u-container__culture--h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__culture--para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: OpenSansRegular;
    font-family: OpenSansLight;
  }
}

@media only screen and (min-width: 1440px) {
  .u-container {
    margin: 40px 180px;
  }
  .u-container__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .u-container__hero-holder--img {
    height: 40vw;
  }
  .u-container__culture {
    width: 45vw;
  }
}

.menu-slider {
  z-index: 999;
  position: absolute;
  right: 16px;
}

.menu-slider__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-slider__link--text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid black;
  height: 40px;
  width: 160px;
}

.main-tuition {
  margin: 24px 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-tuition__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  font-family: OpenSansCondensedBold;
  color: #0000a3;
  margin-bottom: 24px;
}

.main-tuition__form {
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
}

.main-tuition__form--flex {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-tuition__form--flex .h5 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
}

.main-tuition__form--flex .select {
  margin-top: 10px;
  outline: none;
}

.main-tuition__form--flex .select:hover {
  cursor: pointer;
}

.main-tuition__form--submit {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  background-color: #663cff;
  border: 1px solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-tuition__form--submit:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.main-tuition__form--submit .inner-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.main-tuition__uni {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-tuition__uni--title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  margin-bottom: 20px;
  color: #0000d6;
}

.main-tuition__uni .link {
  text-decoration: none;
}

.main-tuition__uni .link:hover {
  cursor: pointer;
}

.main-tuition__uni .link .li {
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #808080;
  margin-bottom: 5px;
}

.main-tuition__uni .button {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  background-color: #663cff;
  border: 1px solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.main-tuition__uni .button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.main-tuition__uni .button__inner-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.main-tuition__error--div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

.main-tuition__error--div .h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #808080;
}

.main-tuition__error--div .button {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  background-color: #663cff;
  border: 1px solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.main-tuition__error--div .button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.main-tuition__error--div .button__inner-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .main-tuition {
    margin: 32px 24px 0;
  }
  .main-tuition__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .main-tuition__form {
    width: 60vw;
  }
  .main-tuition__form--flex .h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
  .main-tuition__form--flex .select {
    height: 30px;
    width: 100px;
  }
  .main-tuition__form--submit {
    margin: 2rem 0;
    height: 3.125rem;
  }
  .main-tuition__form--submit .inner-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .main-tuition__uni {
    margin-top: 40px;
  }
  .main-tuition__uni--title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    margin-bottom: 30px;
  }
  .main-tuition__uni--title .link .li {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    margin-bottom: 10px;
  }
  .main-tuition__uni .button {
    height: 3.125rem;
  }
  .main-tuition__uni .button__inner-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .main-tuition__error--div {
    margin-top: 40px;
  }
  .main-tuition__error--div .h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .main-tuition__error--div .button {
    height: 3.125rem;
  }
  .main-tuition__error--div .button__inner-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
}

@media only screen and (min-width: 1440px) {
  .main-tuition {
    margin: 40px 180px 0;
  }
  .main-tuition__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .main-tuition__form {
    width: 40vw;
  }
  .main-tuition__uni--title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .main-tuition__uni .link .li {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansSemiBold;
  }
  .main-tuition__error--div .h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
  }
}

.test-scores {
  margin: 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-scores__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  font-family: OpenSansCondensedBold;
  color: #0000a3;
  margin-bottom: 24px;
}

.test-scores__form {
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
}

.test-scores__form--div .prompt {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
  margin-top: 10px;
}

.test-scores__form--div .select {
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  height: 30px;
  width: 100%;
  border: 1px solid #808080;
}

.test-scores__form--div .select:hover {
  cursor: pointer;
}

.test-scores__form--input {
  width: 160px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  border-radius: 4px;
  outline: none;
}

.test-scores__form--input:placeholder-shown {
  padding-left: 10px;
}

.test-scores__form--button {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  background-color: #663cff;
  border: 1px solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.test-scores__form--button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.test-scores__form--button .submit {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.test-scores__uni {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-scores__uni--matches {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #0000d6;
  margin-bottom: 20px;
}

.test-scores__uni--link {
  text-decoration: none;
}

.test-scores__uni--link .li {
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #808080;
  margin-bottom: 5px;
}

.test-scores__uni--button {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  margin-top: 20px;
  background-color: #663cff;
  border: 1px solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.test-scores__uni--button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.test-scores__uni--button .text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.test-scores__error--div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

.test-scores__error--div .message {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #808080;
}

.test-scores__error--div .button {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  background-color: #663cff;
  border: 1px solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.test-scores__error--div .button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.test-scores__error--div .button .text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .test-scores {
    margin: 32px 24px 0;
  }
  .test-scores__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .test-scores__form {
    height: 30vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .test-scores__form--div {
    margin-right: 20px;
  }
  .test-scores__form--div .prompt {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
    margin-top: unset;
    margin-bottom: 10px;
  }
  .test-scores__form--div .select {
    margin: unset;
    height: 30px;
  }
  .test-scores__form--input {
    margin: unset;
    height: 3.125rem;
  }
  .test-scores__form--button {
    margin: unset;
    height: 3.125rem;
  }
  .test-scores__form--button .submit {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .test-scores__uni {
    margin-top: 40px;
  }
  .test-scores__uni--matches {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    margin-bottom: 30px;
  }
  .test-scores__uni--link .li {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    margin-bottom: 10px;
  }
  .test-scores__uni--button {
    height: 3.125rem;
  }
  .test-scores__uni--button .text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .test-scores__error--div {
    margin-top: 40px;
  }
  .test-scores__error--div .message {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .test-scores__error--div .button {
    height: 3.125rem;
  }
  .test-scores__error--div .button .text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
}

@media only screen and (min-width: 1440px) {
  .test-scores {
    margin: 40px 180px 0;
  }
  .test-scores__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .test-scores__form {
    width: 50vw;
    height: 20vw;
  }
  .test-scores__uni--matches {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .test-scores__uni--link .li {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansSemiBold;
  }
  .test-scores__error--div .message {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
  }
}

.main {
  margin: 24px 16px;
  text-align: center;
  overflow: hidden;
}

@-webkit-keyframes welcome {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    letter-spacing: 10px;
    margin-bottom: -40px;
  }
  50% {
    opacity: 0.5;
    letter-spacing: 15px;
    margin-bottom: -30px;
  }
  75% {
    opacity: 0.75;
    letter-spacing: 10px;
    margin-bottom: -20px;
  }
  100% {
    opacity: 1;
    margin-bottom: 10px;
  }
}

@keyframes welcome {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    letter-spacing: 10px;
    margin-bottom: -40px;
  }
  50% {
    opacity: 0.5;
    letter-spacing: 15px;
    margin-bottom: -30px;
  }
  75% {
    opacity: 0.75;
    letter-spacing: 10px;
    margin-bottom: -20px;
  }
  100% {
    opacity: 1;
    margin-bottom: 10px;
  }
}

.main__welcome {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  -webkit-animation: welcome 1s;
          animation: welcome 1s;
  z-index: 2;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.main__name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #0000d6;
  -webkit-animation: display 1.2s;
          animation: display 1.2s;
  opacity: 1;
}

@-webkit-keyframes display {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes display {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.main__section {
  margin: 20px 0;
}

.main__section--headshot {
  height: 70vw;
  margin-top: 10px;
}

.main__section--div {
  margin-top: 20px;
}

.main__section--div .label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  margin-bottom: 10px;
  text-align: justify;
}

.main__section--div .para {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: OpenSansRegular;
  font-family: OpenSansLight;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .main {
    margin: 32px 24px;
  }
  .main__welcome {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .main__name {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .main__section--headshot {
    height: 40vw;
  }
  .main__section--div .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
  .main__section--div .para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: OpenSansRegular;
    font-family: OpenSansLight;
  }
}

@media only screen and (min-width: 1440px) {
  .main {
    margin: 40px 180px;
  }
  .main__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 100px;
  }
  .main__section--div {
    width: 50%;
  }
}

.main-data {
  margin: 24px 16px;
}

.main-data__h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #0000a3;
}

.main-data__div--flex {
  border-bottom: 1px solid #808080;
  padding-bottom: 10px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-data__div--flex .a {
  text-decoration: none;
}

.main-data__div--flex .a:hover {
  text-decoration: underline;
  color: #0000d6;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-data__div--flex .a .img {
  height: 40vw;
}

.main-data__div--flex .h3 {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  color: #808080;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .main-data {
    margin: 32px 24px;
  }
  .main-data__h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .main-data__div--flex .h3 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
}

@media only screen and (min-width: 1440px) {
  .main-data {
    margin: 40px 180px;
  }
  .main-data__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-data__div--flex {
    border-bottom: none;
    width: 30%;
    margin: 100px 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .main-data__div--flex .a .img {
    height: 12vw;
  }
}

*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */