/* media query for tablet */
/* media query for high px density desktop */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../assets/fonts/OpenSansRegular.ttf");
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../assets/fonts/OpenSansBold.ttf");
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../assets/fonts/OpenSansSemiBold.ttf");
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../assets/fonts/OpenSansLight.ttf");
}

@font-face {
  font-family: "OpenSansCondensedLight";
  src: url("../assets/fonts/OpenSansCondensedLight.ttf");
}

@font-face {
  font-family: "OpenSansCondensedBold";
  src: url("../assets/fonts/OpenSansCondensedBold.ttf");
}

@font-face {
  font-family: "OpenSansCondensedLightItalic";
  src: url("../assets/fonts/OpenSansCondensedLightItalic.ttf");
}

.header {
  padding: 0 1rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.0625rem solid #808080;
  background-color: #f5f5f5;
}

.header__link {
  text-decoration: none;
}

.header__link--title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #808080;
}

.header__link--title:hover {
  color: #0000d6;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.header__nav--desk {
  display: none;
}

.header__nav--mobile-tablet .svg {
  fill: #808080;
  position: relative;
}

.header__nav--mobile-tablet .svg:hover {
  fill: #0000d6;
  cursor: pointer;
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0 1.5rem;
    height: 6.25rem;
  }
  .header__link--title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .header__nav--mobile-tablet {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 11.25rem;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav--desk {
    display: unset;
    margin-left: 2.5rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    color: #808080;
  }
  .header__nav--desk:hover {
    color: #0000d6;
    -webkit-transition: fill 0.5s ease-in-out;
    transition: fill 0.5s ease-in-out;
  }
  .header__nav--mobile-tablet {
    display: none;
  }
}

.footer {
  padding: 1rem 1rem;
  border-top: 0.0625rem solid #808080;
  background-color: #f5f5f5;
}

.footer__link {
  text-decoration: none;
}

.footer__link--title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #808080;
}

.footer__link--title:hover {
  color: #0000d6;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__nav--link {
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  color: #808080;
}

.footer__nav--link:hover {
  color: #0000d6;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 1.5rem 1.5rem;
    height: 7.5rem;
  }
  .footer__link--title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    margin-top: 2rem;
  }
  .footer__nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer__nav--link {
    margin-left: 2.5rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    margin: unset;
    padding: 0 11.25rem 1.5rem;
  }
}

.hero {
  position: relative;
}

.hero__image {
  height: 60vw;
  width: 100%;
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.hero__text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  font-family: OpenSansCondensedBold;
  position: absolute;
  top: 1.875rem;
  left: 1rem;
  width: 60vw;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .hero__text {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
    top: 4rem;
    left: 1.5rem;
    width: 50vw;
  }
}

@media only screen and (min-width: 1440px) {
  .hero__text {
    top: 11.25rem;
    left: 11.25rem;
  }
}

.landing-page {
  margin: 1.25rem 1rem;
}

.landing-page__header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansCondensedBold;
  color: #0000a3;
}

.landing-page__para {
  margin-top: 0.625rem;
  font-family: OpenSansLight;
  font-style: italic;
  color: #808080;
}

.landing-page__major--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
}

.landing-page__major--flex .button {
  text-decoration: none;
  margin: 1.25rem 0;
  width: 10rem;
  height: 2.5rem;
  border: 1px solid #663cff;
  border-color: #663cff;
  border-radius: 0.25rem;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #663cff;
}

.landing-page__major--flex .button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.landing-page__major--flex .button__text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.landing-page__major--flex .smaller {
  font-family: OpenSansSemiBold;
  color: #0000a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-page__major--flex-vid {
  margin: 1.25rem 0;
}

.landing-page__major--flex-vid .video {
  outline: none;
  height: 60vw;
  width: 100%;
}

.landing-page__holder--left .bold-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansCondensedBold;
  color: #0000a3;
}

.landing-page__holder--left .para {
  margin-top: 0.625rem;
  font-family: OpenSansLight;
  font-style: italic;
  color: #808080;
}

.landing-page__holder--right .img {
  border-radius: 0.25rem;
  margin: 1.25rem 0;
  height: 60vw;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .landing-page {
    margin: 2rem 1.5rem 0;
  }
  .landing-page__header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .landing-page__para {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
    margin-top: 1.25rem;
  }
  .landing-page__major--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 25vw;
    background-color: #f5f5f5;
    margin-top: 2rem;
  }
  .landing-page__major--flex .button {
    margin: 2rem 0;
    width: 12.5rem;
    height: 3.125rem;
  }
  .landing-page__major--flex .button__text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    color: #ffffff;
  }
  .landing-page__major--flex .smaller {
    font-family: OpenSansSemiBold;
    width: 40%;
  }
  .landing-page__major--flex-vid {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing-page__major--flex-vid .video {
    height: 50vw;
    width: 90%;
  }
  .landing-page__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing-page__holder--left {
    width: 40%;
    margin-right: 1.5625rem;
  }
  .landing-page__holder--left .bold-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .landing-page__holder--left .para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: OpenSansRegular;
    font-family: OpenSansLight;
  }
  .landing-page__holder--right {
    width: 50%;
    margin-left: 1.5625rem;
  }
  .landing-page__holder--right .img {
    height: unset;
  }
}

@media only screen and (min-width: 1440px) {
  .landing-page {
    margin: 2.5rem 11.25rem;
  }
  .landing-page__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .landing-page__para {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansLight;
  }
  .landing-page__major--flex .button {
    width: 16.25rem;
    height: 4.0625rem;
  }
  .landing-page__major--flex .button__text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansSemiBold;
  }
  .landing-page__major--flex .smaller {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
  }
  .landing-page__major--flex-vid {
    margin-bottom: 2.5rem;
  }
  .landing-page__holder {
    margin: 1.5rem 0;
  }
  .landing-page__holder--left {
    width: 50%;
  }
  .landing-page__holder--left .bold-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
    margin-bottom: 1.5rem;
  }
  .landing-page__holder--left .para {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
}

.search {
  margin: 2rem 1rem 0;
}

.search__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  font-family: OpenSansCondensedBold;
  color: #0000a3;
  margin-bottom: 1.5rem;
}

.search__container--card {
  margin-bottom: 1.5rem;
  position: relative;
}

.search__container--card:hover {
  cursor: pointer;
}

.search__container--card .heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #0000d6;
  position: absolute;
  top: 5rem;
  left: 1.25rem;
}

.search__container--card .image {
  width: 100%;
  height: 70vw;
  border: 0.0625rem solid black;
  border-radius: 0.25rem;
}

.search__container--card .image:focus, .search__container--card .image:hover {
  border: 0.125rem solid #0000d6;
}

@media only screen and (min-width: 768px) {
  .search {
    margin: 2.5rem 1.5rem 0;
    height: 100vh;
  }
  .search__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .search__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .search__container--card {
    width: 25vw;
    height: 20vw;
    margin-right: 1.25rem;
  }
  .search__container--card .heading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    top: 3.125rem;
  }
  .search__container--card .image {
    height: 20vw;
  }
}

@media only screen and (min-width: 1440px) {
  .search {
    margin: 2.8125rem 11.25rem 0;
    height: 100vh;
  }
  .search__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
    margin-bottom: 3.125rem;
  }
  .search__container--card {
    width: 20vw;
  }
  .search__container--card .image {
    height: 15vw;
  }
}

.locations__title {
  margin: 1.5rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  font-family: OpenSansCondensedBold;
  color: #0000a3;
  margin-bottom: 1.25rem;
}

.locations__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.locations__form--input {
  height: 1.875rem;
  width: 50vw;
  background-image: url("../assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 0.625rem;
  padding-left: 2.1875rem;
  outline: none;
  border-radius: 0.25rem;
  border: 0.0625rem solid #808080;
}

.locations__form--input:focus, .locations__form--input:hover {
  border: 0.0625rem solid #0000d6;
  cursor: pointer;
}

.locations__form--button {
  margin: 0.625rem 0 1.875rem;
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: #663cff;
  border: 0.0625rem solid #663cff;
  outline: none;
}

.locations__form--button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.locations__form--button .submit {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.locations__map-holder--flex-cities {
  margin: 1.5rem 1rem;
}

.locations__map-holder--flex-cities .h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  margin-bottom: 0.625rem;
}

.locations__map-holder--flex-cities .p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: OpenSansRegular;
  margin-bottom: 0.3125rem;
}

@media only screen and (min-width: 768px) {
  .locations__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
    margin: 2rem 1.5rem;
  }
  .locations__form--input {
    height: 2.5rem;
  }
  .locations__form--button .submit {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .locations__map-holder--flex-cities {
    margin: 2rem 1.5rem;
  }
  .locations__map-holder--flex-cities .h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .locations__map-holder--flex-cities .p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: OpenSansRegular;
  }
}

@media only screen and (min-width: 1440px) {
  .locations__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
    margin: 2.5rem 11.25rem;
  }
  .locations__form--input {
    width: 30vw;
  }
  .locations__form--button {
    height: 3.125rem;
  }
}

.news {
  margin: 24px 16px;
}

.news__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #0000a3;
}

.news__section--div {
  margin: 20px 0;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 10px;
}

.news__section--div .url {
  text-decoration: none;
}

.news__section--div .url__h5 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #0000d6;
  font-family: OpenSansCondensedBold;
}

.news__section--div .url__img {
  width: 100%;
  margin: 10px 0;
}

.news__section--div .url__description {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
  color: #808080;
}

@media only screen and (min-width: 768px) {
  .news {
    margin: 32px 24px;
  }
  .news__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
  }
  .news__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0;
  }
  .news__section--div {
    height: 50vw;
    overflow-y: scroll;
    margin: 10px 10px;
    padding: 20px;
    width: 40vw;
  }
  .news__section--div .url__h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansCondensedBold;
  }
  .news__section--div .url__img {
    margin: 20px 0;
  }
  .news__section--div .url__description {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
}

@media only screen and (min-width: 1440px) {
  .news {
    margin: 40px 180px;
  }
  .news__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .news__section--div {
    width: 20vw;
    height: 30vw;
  }
}

.menu-slider {
  z-index: 999;
  position: absolute;
  right: 16px;
}

.menu-slider__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-slider__link--text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid black;
  height: 40px;
  width: 160px;
}

.main-tuition {
  margin: 1.5rem 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-tuition__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  font-family: OpenSansCondensedBold;
  color: #0000a3;
  margin-bottom: 1.5rem;
}

.main-tuition__form {
  border: 0.0625rem solid #808080;
  border-radius: 0.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
}

.main-tuition__form--flex {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.main-tuition__form--flex .h5 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
}

.main-tuition__form--flex .select {
  margin-top: 0.625rem;
  outline: none;
  border: 0.0625rem solid #808080;
  height: 1.875rem;
  width: 6.25rem;
}

.main-tuition__form--flex .select:hover, .main-tuition__form--flex .select:focus {
  border: 0.0625rem solid #0000d6;
  cursor: pointer;
}

.main-tuition__form--submit {
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: #663cff;
  border: 0.0625rem solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-tuition__form--submit:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.main-tuition__form--submit .inner-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.main-tuition__uni {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-tuition__uni--title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  margin-bottom: 1.25rem;
  color: #0000d6;
}

.main-tuition__uni .link {
  text-decoration: none;
}

.main-tuition__uni .link:hover {
  cursor: pointer;
}

.main-tuition__uni .link .li {
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #808080;
  margin-bottom: 0.3125rem;
}

.main-tuition__uni .button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: #663cff;
  border: 0.0625rem solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.25rem;
}

.main-tuition__uni .button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.main-tuition__uni .button__inner-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.main-tuition__error--div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.main-tuition__error--div .h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #808080;
}

.main-tuition__error--div .button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: #663cff;
  border: 0.0625rem solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.25rem;
}

.main-tuition__error--div .button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.main-tuition__error--div .button__inner-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .main-tuition {
    margin: 2rem 1.5rem 0;
  }
  .main-tuition__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .main-tuition__form {
    width: 60vw;
  }
  .main-tuition__form--flex .h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
  .main-tuition__form--flex .select {
    height: 1.875rem;
    width: 6.25rem;
  }
  .main-tuition__form--submit {
    margin: 2rem 0;
  }
  .main-tuition__form--submit .inner-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .main-tuition__uni {
    margin-top: 2.5rem;
  }
  .main-tuition__uni--title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    margin-bottom: 1.875rem;
  }
  .main-tuition__uni--title .link .li {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    margin-bottom: 0.625rem;
  }
  .main-tuition__uni .button__inner-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .main-tuition__error--div {
    margin-top: 2.5rem;
  }
  .main-tuition__error--div .h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .main-tuition__error--div .button__inner-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
}

@media only screen and (min-width: 1440px) {
  .main-tuition {
    margin: 2.5rem 11.25rem 0;
  }
  .main-tuition__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .main-tuition__form {
    width: 40vw;
  }
  .main-tuition__form--submit {
    height: 3.125rem;
  }
  .main-tuition__uni--title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .main-tuition__uni .link .li {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansSemiBold;
  }
  .main-tuition__uni .button {
    height: 3.125rem;
  }
  .main-tuition__error {
    margin: 0.3125rem 0 6.25rem;
  }
  .main-tuition__error--div .h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
  }
  .main-tuition__error--div .button {
    height: 3.125rem;
  }
}

.test-scores {
  margin: 1.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-scores__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  font-family: OpenSansCondensedBold;
  color: #0000a3;
  margin-bottom: 1.5rem;
}

.test-scores__form {
  border: 0.0625rem solid #808080;
  border-radius: 0.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
}

.test-scores__form--div .prompt {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
  margin-top: 0.625rem;
}

.test-scores__form--div .select {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  outline: none;
  height: 1.875rem;
  width: 100%;
  border: 0.0625rem solid #808080;
}

.test-scores__form--div .select:hover, .test-scores__form--div .select:focus {
  border: 0.0625rem solid #0000d6;
  cursor: pointer;
}

.test-scores__form--input {
  width: 10rem;
  height: 2.5rem;
  margin-bottom: 1.25rem;
  padding-left: 0.625rem;
  border-radius: 0.25rem;
  outline: none;
}

.test-scores__form--input:placeholder-shown {
  padding-left: 0.625rem;
}

.test-scores__form--input:focus, .test-scores__form--input:hover {
  border: 0.0625rem solid #0000d6;
  cursor: pointer;
}

.test-scores__form--button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: #663cff;
  border: 0.0625rem solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.test-scores__form--button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.test-scores__form--button .submit {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.test-scores__uni {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-scores__uni--matches {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #0000d6;
  margin-bottom: 1.25rem;
}

.test-scores__uni--link {
  text-decoration: none;
}

.test-scores__uni--link .li {
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #808080;
  margin-bottom: 0.3125rem;
}

.test-scores__uni--button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  margin-top: 1.25rem;
  background-color: #663cff;
  border: 0.0625rem solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.test-scores__uni--button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.test-scores__uni--button .text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

.test-scores__error--div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.test-scores__error--div .message {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #808080;
}

.test-scores__error--div .button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: #663cff;
  border: 0.0625rem solid #663cff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.25rem;
}

.test-scores__error--div .button:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #0000a3;
  border-color: #0000a3;
  cursor: pointer;
}

.test-scores__error--div .button .text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .test-scores {
    margin: 2rem 1.5rem 0;
  }
  .test-scores__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .test-scores__form {
    height: 30vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .test-scores__form--div {
    margin-right: 1.25rem;
  }
  .test-scores__form--div .prompt {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
    margin-top: unset;
    margin-bottom: 0.625rem;
  }
  .test-scores__form--div .select {
    margin: unset;
    height: 1.875rem;
  }
  .test-scores__form--input {
    margin: unset;
  }
  .test-scores__form--button {
    margin: unset;
  }
  .test-scores__form--button .submit {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .test-scores__uni {
    margin-top: 2.5rem;
  }
  .test-scores__uni--matches {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    margin-bottom: 1.875rem;
  }
  .test-scores__uni--link .li {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    margin-bottom: 0.625rem;
  }
  .test-scores__uni--button .text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .test-scores__error--div {
    margin-top: 2.5rem;
  }
  .test-scores__error--div .message {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .test-scores__error--div .button .text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
}

@media only screen and (min-width: 1440px) {
  .test-scores {
    margin: 2.5rem 11.25rem 0;
  }
  .test-scores__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
    font-family: OpenSansCondensedBold;
  }
  .test-scores__form {
    width: 50vw;
    height: 20vw;
  }
  .test-scores__form--input {
    height: 3.125rem;
  }
  .test-scores__form--button {
    height: 3.125rem;
  }
  .test-scores__uni--matches {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .test-scores__uni--link .li {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
    font-family: OpenSansSemiBold;
  }
  .test-scores__uni--button {
    height: 3.125rem;
  }
  .test-scores__error--div .button {
    height: 3.125rem;
  }
  .test-scores__error--div .message {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: OpenSansBold;
  }
}

.main {
  margin: 1.5rem 1rem;
  text-align: center;
  overflow: hidden;
}

@-webkit-keyframes welcome {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    letter-spacing: 0.625rem;
    margin-bottom: -2.5rem;
  }
  50% {
    opacity: 0.5;
    letter-spacing: 0.9375rem;
    margin-bottom: -1.875rem;
  }
  75% {
    opacity: 0.75;
    letter-spacing: 0.625rem;
    margin-bottom: -1.25rem;
  }
  100% {
    opacity: 1;
    margin-bottom: 0.625rem;
  }
}

@keyframes welcome {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    letter-spacing: 0.625rem;
    margin-bottom: -2.5rem;
  }
  50% {
    opacity: 0.5;
    letter-spacing: 0.9375rem;
    margin-bottom: -1.875rem;
  }
  75% {
    opacity: 0.75;
    letter-spacing: 0.625rem;
    margin-bottom: -1.25rem;
  }
  100% {
    opacity: 1;
    margin-bottom: 0.625rem;
  }
}

.main__welcome {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  -webkit-animation: welcome 1s;
          animation: welcome 1s;
  z-index: 2;
  letter-spacing: 0.3125rem;
  margin-bottom: 0.625rem;
}

.main__name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #0000d6;
  -webkit-animation: display 1.2s;
          animation: display 1.2s;
  opacity: 1;
}

@-webkit-keyframes display {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes display {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.main__section {
  margin: 1.25rem 0;
}

.main__section--headshot {
  height: 70vw;
  margin-top: 0.625rem;
}

.main__section--div {
  margin-top: 1.25rem;
}

.main__section--div .label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  margin-bottom: 0.625rem;
  text-align: justify;
}

.main__section--div .para {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: OpenSansRegular;
  font-family: OpenSansLight;
  text-align: justify;
}

.main__section--div .title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #0000a3;
  margin: 1.25rem 0;
}

.main__section--div .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25rem;
}

.main__section--div .section__a {
  margin: 1.25rem 0;
}

.main__section--div .section__a--img {
  height: 10vw;
}

@media only screen and (min-width: 768px) {
  .main {
    margin: 2rem 1.5rem;
  }
  .main__welcome {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .main__name {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .main__section--headshot {
    height: 40vw;
  }
  .main__section--div .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
  .main__section--div .para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: OpenSansRegular;
    font-family: OpenSansLight;
  }
  .main__section--div .title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .main__section--div .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__section--div .section__a {
    margin: 0 1.25rem;
  }
  .main__section--div .section__a--img {
    height: 5vw;
  }
}

@media only screen and (min-width: 1440px) {
  .main {
    margin: 2.5rem 11.25rem;
  }
  .main__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 6.25rem;
  }
  .main__section--div {
    width: 50%;
  }
  .main__section--div .title {
    margin-top: 6.25rem;
  }
}

.main-data {
  margin: 1.5rem 1rem;
}

.main-data__h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #0000a3;
}

.main-data__div--flex {
  border-bottom: 0.0625rem solid #808080;
  padding-bottom: 0.625rem;
  margin: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-data__div--flex .a {
  text-decoration: none;
}

.main-data__div--flex .a:hover {
  text-decoration: underline;
  color: #0000d6;
  border: 0.0625rem solid #0000d6;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-data__div--flex .a .img {
  height: 40vw;
}

.main-data__div--flex .h3 {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  color: #808080;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .main-data {
    margin: 2rem 1.5rem;
  }
  .main-data__h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .main-data__div--flex .h3 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
}

@media only screen and (min-width: 1440px) {
  .main-data {
    margin: 2.5rem 11.25rem;
  }
  .main-data__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-data__div--flex {
    border-bottom: none;
    width: 30%;
    margin: 6.25rem 0.625rem;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  .main-data__div--flex .a .img {
    height: 12vw;
  }
}

.u-container {
  padding: 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.u-container__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: OpenSansBold;
  color: #0000d6;
  text-align: center;
  margin-bottom: 24px;
}

.u-container__button {
  -ms-flex-item-align: center;
      align-self: center;
  height: 30px;
  border-radius: 4px;
  background-color: #663cff;
  width: 160px;
  outline: none;
  border: 1px solid #663cff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-container__button:hover {
  cursor: pointer;
  border: 1px solid #0000a3;
  background-color: #0000a3;
}

.u-container__button--text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  color: white;
}

.u-container__subheader {
  margin: 24px 0 10px;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  color: #0000a3;
}

.u-container__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.u-container__hero--img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.u-container__hero--img .img {
  width: 100%;
  border-radius: 4px;
}

.u-container__hero--div {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 20px;
}

.u-container__hero--div .sub {
  margin-top: 5px;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
}

.u-container__hero--div .label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
}

.u-container__hero--div .sub-light {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
}

.u-container__hero--div .a .label {
  color: #0000d6;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
}

.u-container__div {
  margin: 10px 0;
}

.u-container__div--iframe {
  width: 100%;
  height: 40vw;
  border: 1px solid #0000a3;
  border-radius: 4px;
}

.u-container__section--holder {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 20px;
}

.u-container__section--holder .sub {
  margin-top: 5px;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: OpenSansSemiBold;
}

.u-container__section--holder .label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: OpenSansSemiBold;
  font-family: OpenSansLight;
}

.u-container__section--holder .mission {
  text-align: justify;
}

.u-container__section--holder-mobile {
  background-color: #f0f8ff;
}

@media only screen and (min-width: 768px) {
  .u-container {
    padding: 32px 24px;
  }
  .u-container__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: OpenSansBold;
  }
  .u-container__button--text {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__subheader {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .u-container__hero--img {
    width: 45vw;
  }
  .u-container__hero--div {
    height: 30vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 50%;
    overflow-y: scroll;
  }
  .u-container__hero--div .sub {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__hero--div .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
  .u-container__hero--div .sub-light {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
  .u-container__hero--div .a .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
  .u-container__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .u-container__div--iframe {
    width: 75vw;
  }
  .u-container__section--holder {
    margin-top: 20px;
    padding: 30px;
  }
  .u-container__section--holder .sub {
    margin-top: 5px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: OpenSansSemiBold;
  }
  .u-container__section--holder .label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: OpenSansSemiBold;
    font-family: OpenSansLight;
  }
}

@media only screen and (min-width: 1440px) {
  .u-container {
    padding: 40px 180px;
  }
  .u-container__button {
    height: 50px;
  }
  .u-container__hero {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .u-container__hero--img {
    width: 30vw;
    margin-left: 20px;
  }
  .u-container__hero--div {
    height: 20vw;
    width: 30vw;
    margin-right: 20px;
  }
  .u-container__div--iframe {
    width: 63vw;
  }
  .u-container__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .u-container__section--holder {
    width: 28.5vw;
    height: 25vw;
    overflow-y: scroll;
  }
  .u-container__section--holder-mobile {
    background-color: #f5f5f5;
  }
  .u-container__section--holder-desk {
    background-color: #f0f8ff;
  }
}

*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */